[submodule "pack/dvcirilo/start/nerdtree"]
	path = pack/dvcirilo/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/dvcirilo/start/lightline.vim"]
	path = pack/dvcirilo/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/dvcirilo/start/vim-surround"]
	path = pack/dvcirilo/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/dvcirilo/start/vim-repeat"]
	path = pack/dvcirilo/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/dvcirilo/start/systemverilog.vim"]
	path = pack/dvcirilo/start/systemverilog.vim
	url = https://github.com/nachumk/systemverilog.vim.git
[submodule "pack/dvcirilo/start/vim-commentary"]
	path = pack/dvcirilo/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/dvcirilo/start/vim-indent-guides"]
	path = pack/dvcirilo/start/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides.git
[submodule "pack/dvcirilo/start/gruvbox"]
	path = pack/dvcirilo/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/dvcirilo/start/emmet-vim"]
	path = pack/dvcirilo/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
